<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="com.bagal.listeners.FrameworkListener"/>
    </listeners>
    <test name="Nopackage" >
        <classes>
            <class name="com.bagal.tests.login.LoginTests" />
        </classes>
    </test>
</suite>